@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container-fluid {
  height: 100vh;
  margin: auto;
}

.header {
  width: 100%;
  height: 5%;
  background: #333333;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
}

.header a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-right: 30px;
  text-transform: uppercase;
}

.navbar {
  width: 100%;
  height: 10%;
  background-color: #33975b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hamburger {
  display: none;
}

.mobile-nav {
  display: none;
}

.nav-left-links {
  width: 40%;
}

.nav-left-links ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: 0.7s;
}

.nav-link a:hover {
  opacity: 0.6;
}

.nav-right-links {
  width: 40%;
}

.nav-right-links ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.logo {
  font-size: 3.5rem;
  color: white;
}

.banner {
  width: 100%;
  height: 30%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./imgs/banner-img3.jpg) center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  font-size: 2.5rem;
  color: white;
}

.slot-selector-section {
  width: 100%;
  height: 20%;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector-box {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

#field-selector,
#date-selector,
#slot-selector {
  height: 45px;
  color: #333333;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #81818179;
}

label {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.search-btn {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  height: 45px;
  margin-top: 30px;
  background: #33975b;
  outline: none;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.6s;
}

.search:hover {
  opacity: 0.6;
}

.slot-cards-section {
  width: 95%;
  height: 100vh;
  margin: auto;
}

.slot-heading {
  width: 60%;
  margin: 50px auto;
}

.slot-detail {
  font-size: 2rem;
  text-align: center;
  color: #33975b;
  font-weight: 500;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 50px;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.card {
  width: 18%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #33975b;
  background: #f9f9f9;
}

.card.disabled {
  border: 1px solid #81818179;
}

.card.disabled .book {
  background: #81818179;
  cursor: no-drop;
}

.card.disabled .book:hover {
  opacity: 1;
}

.time {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.book-btn {
  width: 100%;
  height: 30%;
}

.book {
  width: 100%;
  height: 100%;
  border: none;
  background: #33975b;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.6s;
}

.book:hover {
  opacity: 0.6;
}

.btn-more {
  width: 18%;
  height: 50px;
  margin: 50px auto;
}

.view-more {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  background: #33975b;
  font-size: 1.4rem;
  color: white;
  transition: 0.6s;
  cursor: pointer;
}

.view-more:hover {
  opacity: 0.6;
}

.price-section {
  width: 80%;
  height: 50vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekday-price-section {
  width: 45%;
}

.vertical {
  border-left: 5px solid #81818179;
  height: 250px;
}

.price-heading p {
  font-size: 1.8rem;
  color: #33975b;
  font-weight: 500;
}

.slot-price {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.slot-price p {
  font-size: 18px;
  font-weight: 500;
  color: #33975b;
}

.slot-price p span {
  color: black;
}

.price {
  width: 150px;
  height: 50px;
  background: #33975b;
  color: white;
  border: none;
  transition: 0.6s;
  cursor: pointer;
}

.price:hover {
  opacity: 0.6;
}

.weekend-price-section {
  width: 45%;
}

.footer {
  width: 100%;
  height: 8%;
  background: #333333;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 0 50px;
}

.footer-links {
  width: 50%;
}

.footer-links ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .nav-link a {
    font-size: 0.8rem;
  }
  .nav-left-links {
    width: 40%;
  }
  .logo {
    font-size: 2.5rem;
  }
  .nav-right-links {
    width: 40%;
  }
  .selector-box {
    width: 28%;
  }
  .search-btn {
    width: 15%;
  }

  .search {
    margin-top: 35px;
  }

  .slot-cards-section {
    height: auto;
  }
  .slot-heading {
    width: 80%;
  }
  .cards {
    flex-wrap: wrap;
    column-gap: 20px;
    height: auto;
  }
  .card {
    width: 30%;
  }

  .footer {
    justify-content: space-between;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 850px) {
  .header {
    justify-content: flex-end;
    gap: 30px;
    padding-right: 0;
  }
  .header a {
    font-size: 1rem;
  }
  .navbar {
    height: 10%;
    justify-content: space-between;
    padding: 0 20px;
  }
  .nav-left-links {
    display: none;
  }

  .nav-right-links {
    display: none;
  }
  .logo {
    font-size: 2.5rem;
  }
  .mobile-nav {
    display: block;
    width: 100%;
    height: auto;
    background: #33975b;
    position: absolute;
    top: 15%;
    left: 0;
    text-align: center;
    line-height: 45px;
    border-top: 1px solid white;
  }

  .mobile-nav ul li {
    list-style: none;
  }

  .hamburger {
    display: block;
  }
  .hamburger i {
    font-size: 2rem;
    color: white;
  }

  .hidden {
    display: none;
  }

  .slot-selector-section {
    flex-wrap: wrap;
    height: auto;
    padding: 30px;
  }

  .selector-box {
    width: 30%;
  }
  label {
    font-size: 1rem;
  }

  #field-selector,
  #date-selector,
  #slot-selector {
    height: 40px;
    color: #333333;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
  }

  .search-btn {
    width: 20%;
  }
  .search {
    margin-top: 10px;
  }

  .slot-cards-section {
    width: 90%;
    height: auto;
  }

  .slot-heading {
    width: 80%;
  }
  .cards {
    flex-wrap: wrap;
    column-gap: 20px;
  }

  .card {
    width: 30%;
  }
  .btn-more {
    width: 30%;
  }

  .view-more {
    font-size: 1.2rem;
  }
  .price-section {
    width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  .weekday-price-section {
    width: 60%;
    text-align: center;
  }
  .divider {
    display: none;
  }
  .weekend-price-section {
    width: 60%;
    text-align: center;
  }
  .footer {
    height: auto;
    flex-direction: column;
  }
  .footer-links {
    width: 100%;
    padding: 30px;
  }
  .footer-links ul {
    flex-direction: row;
    line-height: 45px;
  }
  .footer-copyrights {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    width: 100%;
    justify-content: center;
    gap: 30px;
    padding-right: 0;
  }
  .header a {
    padding-right: 0;
    font-size: 1rem;
  }

  .navbar {
    height: 10%;
    justify-content: space-between;
    padding: 0 20px;
  }
  .nav-left-links {
    display: none;
  }

  .nav-right-links {
    display: none;
  }

  .mobile-nav {
    display: block;
    width: 100%;
    height: auto;
    background: #33975b;
    position: absolute;
    top: 15%;
    left: 0;
    text-align: center;
    line-height: 45px;
    border-top: 1px solid white;
  }

  .mobile-nav ul li {
    list-style: none;
  }

  .hamburger {
    display: block;
  }
  .hamburger i {
    font-size: 26px;
    color: white;
  }

  .hidden {
    display: none;
  }

  .logo {
    font-size: 1.5rem;
  }
  .slot-selector-section {
    flex-direction: column;
    height: auto;
  }

  .selector-box {
    width: 100%;
  }
  label {
    font-size: 1rem;
  }
  #field-selector,
  #date-selector,
  #slot-selector {
    height: 40px;
  }

  .search-btn {
    width: 80%;
  }
  .slot-cards-section {
    height: auto;
    width: 90%;
  }
  .slot-heading {
    width: 100%;
  }
  .slot-detail {
    font-size: 1.3rem;
  }
  .cards {
    column-gap: 10px;
  }
  .card {
    width: 45%;
  }
  .btn-more {
    width: 80%;
  }
  .price-section {
    height: auto;
    margin-top: 30px;
    flex-direction: column;
    width: 90%;
  }
  .weekday-price-section {
    width: 100%;
  }
  .divider {
    display: none;
  }

  .weekend-price-section {
    width: 100%;
    margin-top: 30px;
  }

  .price-heading p {
    text-align: center;
  }
  .slot-price {
    flex-direction: column;
  }

  .footer {
    margin-top: 50px;
    height: auto;
    flex-direction: column;
    padding: 0 0;
  }
  .footer-links {
    width: 100%;
    padding: 30px;
  }
  .footer-links ul {
    flex-direction: column;
    line-height: 45px;
  }
  .footer-copyrights {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px;
  }
}
